{% extends "challenge.html" %}

{% block description %}
{{ challenge.html }}

<div class="row text-center pb-3">
  <div id="loki-panel" style="width: 100%;">
    <div id="loki-panel-stopped" class="card" style="width: 100%;">
      <div class="card-body">
        <h5 class="card-title">Instance Info</h5>
        <button class="btn btn-primary card-link" id="loki-button-boot" type="button"
                onclick="CTFd._internal.challenge.boot()">
          Start Instance
        </button>
      </div>
    </div>

    <div id="loki-panel-started" class="card" style="display: none; width: 100%;">
      <div class="card-body">
        <h5 class="card-title">Instance Info</h5>
        <h6 class="card-subtitle mb-2 text-muted">
          Remaining Time: <span id="loki-challenge-count-down"></span>
        </h6>
        <div id="loki-connection-group" class="mb-2">
          <p class="card-text mb-1"><strong>Connection</strong></p>
          <div class="input-group">
            <input id="loki-connection-command" type="text" class="form-control user-select-all" readonly>
            <button class="btn btn-outline-secondary" type="button" id="loki-copy-connection">Copy</button>
          </div>
        </div>
        <div id="loki-password-group" class="mb-2" style="display:none;">
          <p class="card-text mb-1"><strong>Password</strong></p>
          <div class="input-group">
            <input id="loki-connection-password" type="text" class="form-control user-select-all" readonly>
            <button class="btn btn-outline-secondary" type="button" id="loki-copy-password">Copy</button>
          </div>
        </div>
        <p class="card-text text-muted">
          Renewed: <span id="loki-renew-count">0</span>
        </p>
        <button type="button" class="btn btn-danger card-link" id="loki-button-destroy"
                onclick="CTFd._internal.challenge.destroy()">
          Stop Instance
        </button>
        <button type="button" class="btn btn-success card-link" id="loki-button-renew"
                onclick="CTFd._internal.challenge.renew()">
          Renew Instance
        </button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
